
@{
    ViewBag.Title = "Datos";
}

<!-- Large input -->
<div class="md-form form-lg">
    <input type="text" id="inputLGEx" class="form-control form-control-lg">
    <label for="inputLGEx">Large input</label>
</div>

